@model OnePageCheckoutModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_Root_NoFooter";

    //scripts
    //Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    //Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js");

    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts("结算");
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}

<div class="page checkout-page">
    <div class="page-body checkout-data">
        <div class="checkout-item-box checkout-address">
            <div class="checkout-address-text" id="checkout-address">
                <ul>
                    <li><strong>胡涛</strong> <strong>132****2338</strong></li>
                    <li class="address">四川成都市成华区城区崔家店北一路6号四川电力送变电公司</li>
                </ul>
            </div>
            <div class="checkout-address-list" style="display:none;">
                <div class="address" type="1" rgid="" phone="" postcode="" email="" namecode="" provinceid="22" cityid="1930" countyid="50948" townid="52157" areacode="" longitude="104.13" latitude="30.6665">
                    <ul class="selected" style="transition: transform 0.5s ease 0s; transform: translate(0px);">
                        <li><strong>胡涛</strong> <strong>132****2338</strong></li>
                        <li><span class="tag tag_red c_g_jd">默认</span> <span class="tag">胡涛 崔家店</span> <span>四川成都市成华区城区崔家店北一路6号四川电力送变电公司</span></li>
                        <li class="edit c_g_jd">编辑</li>
                    </ul>
                    <p class="act c_g_jd"><span class="del">删除</span></p>
                </div>
                <div class="address" type="1" rgid="" phone="" postcode="" email="" namecode="" provinceid="22" cityid="1930" countyid="50948" townid="52157" areacode="" longitude="104.13" latitude="30.6665">
                    <ul style="transition: transform 0.5s ease 0s; transform: translate(0px);">
                        <li><strong>胡涛</strong> <strong>132****2338</strong></li>
                        <li><span class="tag tag_red c_g_jd">默认</span> <span class="tag">胡涛 崔家店</span> <span>四川成都市成华区城区崔家店北一路6号四川电力送变电公司</span></li>
                        <li class="edit c_g_jd">编辑</li>
                    </ul>
                    <p class="act c_g_jd"><span class="del">删除</span></p>
                </div>
                <div class="address" type="1" rgid="" phone="" postcode="" email="" namecode="" provinceid="22" cityid="1930" countyid="50948" townid="52157" areacode="" longitude="104.13" latitude="30.6665">
                    <ul style="transition: transform 0.5s ease 0s; transform: translate(0px);">
                        <li><strong>胡涛</strong> <strong>132****2338</strong></li>
                        <li><span class="tag tag_red c_g_jd">默认</span> <span class="tag">胡涛 崔家店</span> <span>四川成都市成华区城区崔家店北一路6号四川电力送变电公司</span></li>
                        <li class="edit c_g_jd">编辑</li>
                    </ul>
                    <p class="act c_g_jd"><span class="del">删除</span></p>
                </div>
                <div class="mod_btns_v2 fixed">
                    <a href="javascript:void(0);" class="mod_btn bg_g_jd">新增收货地址</a>
                </div>
            </div>
            <div class="checkout-address-edit" style="display:none;">
                <div data-v-277a2250="" class="address_new" style="transform: translate(0px, 0px); padding-bottom: 10px;">
                    <p data-v-277a2250="">
                        <span data-v-277a2250="" class="tit">收货人</span>
                        <input data-v-277a2250="" type="text" placeholder="姓名">
                    </p>
                    <p data-v-277a2250="" class="label_flex">
                        <span data-v-277a2250="" class="tit">联系方式</span>
                        <input data-v-277a2250="" type="tel" placeholder="手机号码" maxlength="17">
                    </p>
                    <p data-v-277a2250="" class="street_detail">
                        <span data-v-277a2250="" class="tit">所在地区</span>
                        <input data-v-277a2250="" type="text" placeholder="选择所在地区" readonly="readonly">
                        <i data-v-277a2250="" class="arrow"></i>
                    </p>
                    <p data-v-277a2250="" id="adinfoP" class="street_detail">
                        <span data-v-277a2250="" class="tit">详细地址</span>
                        <textarea data-v-277a2250="" placeholder="详细地址需填写楼栋楼层或房间号信息" rows="2"></textarea>
                        <i data-v-277a2250="" class="close"></i>
                        <span data-v-277a2250="" class="btn_complete" style="display: none;">完成</span>
                    </p>
                    <p data-v-277a2250="" style="display: none;">
                        <span data-v-277a2250="" class="tit">邮箱</span>
                        <input data-v-277a2250="" type="text" placeholder="必填">
                    </p>
                    <p data-v-277a2250="" style="display: none;">
                        <span data-v-277a2250="" class="tit">邮编</span>
                        <input data-v-277a2250="" type="text" placeholder="必填">
                    </p>
                    <p data-v-277a2250="" style="display: none;">
                        <span data-v-277a2250="" class="tit">备用电话</span>
                        <input data-v-277a2250="" type="text" placeholder="选填">
                    </p>
                    <p data-v-277a2250="" class="address_tags">
                        <span data-v-277a2250="" class="tit">地址标签</span>
                        <span data-v-277a2250="" class="address_tags_tag cur">公司</span>
                        <span data-v-277a2250="" class="address_tags_tag">家</span>
                        <span data-v-277a2250="" class="address_tags_tag">学校</span>
                    </p>
                    <div data-v-277a2250="" class="mod_btns_v2">
                        <a data-v-277a2250="" href="javascript:void(0);" class="mod_btn bg_g_jd">确认</a>
                    </div>
                    <div data-v-277a2250="" class="mod_btns_v2">
                        <a data-v-277a2250="" href="javascript:void(0);" class="mod_btn">删除收货地址</a>
                    </div>
                    <div data-v-b4310866="" data-v-277a2250="" class="fuzzy_search show" style="display: none;">
                        <ul data-v-b4310866="" class="result_list"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-item-box checkout-shipmethod">
            <ul class="shipping_info_list">
                <li class="shipping">
                    <strong>配送</strong>
                    <div class="shipping_content">
                        <p>普通快递</p>
                        <div class="type_justify">
                            <div class="left">送货时间</div>
                            以揽件快递公司时间为准
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="checkout-item-box checkout-orderitem">

        </div>
    </div>

</div>

<div style="height:45px;display:block;overflow:hidden;"></div>

<script type="text/javascript" asp-location="Footer">
    var SiteUrl = "/";
    //Banner
    var bannerSwiper = new Swiper('.swiper-banner-container', {
        autoplay: 3000,
        autoplayDisableOnInteraction: false,
        pagination: '.swiper-banner-container .swiper-pagination',
        observer: true,
        observeParents: true
    });
    //Menu
    var MenuSwiper = new Swiper('.swiper-menu-container', {
        pagination: '.swiper-menu-container .swiper-pagination',
        observer: true,
        observeParents: true
    });

    //返回顶部
    window.onscroll = function () {
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollTop > 300) {
            backTop.style.display = 'block';
        }
        else {
            backTop.style.display = 'none';
        }
    };
    var backTop = document.getElementById("backTop");
    backTop.onclick = function () {
        document.documentElement.scrollTop = document.body.scrollTop = 0
    };
</script>

<script type="text/javascript" asp-location="Head">
    $(function () {
        //头部导航
        $(".call-top-nav").click(function () { $(".nav-js-block").click(); });
        $(".nav-js-block").click(function () {
            if ($(".header-nav-con").is(":hidden")) {
                $(".header-nav-con").show();
                $(".nav-shadow").show();
                $(".header-nav-title").addClass("header-nav-border");
                $(this).addClass("nav-js-img");
            } else {
                $(".header-nav-con").hide();
                $(".nav-shadow").hide();
                $(".header-nav-title").removeClass("header-nav-border");
                $(this).removeClass("nav-js-img");
            }
        });

        $(".nav-shadow").click(function () {
            $(".header-nav-con").hide();
            $(".nav-shadow").hide();
            $(".header-nav-title").removeClass("header-nav-border");
            $(".nav-js-block").removeClass("nav-js-img");
        });

    });
</script>
