@model LoginModel
@using Nop.Core
@using Nop.Core.Domain.Customers

@inject IWebHelper webHelper
@{
    Layout = "";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
}


<!DOCTYPE html>
<html>
<head>
    <script>if (window !== top) top.location.replace(location.href);</script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户登录</title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css" />
    <link rel="stylesheet" href="/lib/layui/module/admin.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="login-wrapper">
        <form asp-route="Login" class="layui-form" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
            <h2>用户登录</h2>
            @if (Model.UsernamesEnabled)
            {
                <div class="layui-form-item layui-input-icon-group">
                    <i class="layui-icon layui-icon-username"></i>
                    <input asp-for="Username" class="username layui-input" placeholder="请输入登录账号" autocomplete="off" autofocus="autofocus" lay-verType="tips" lay-verify="required" required />
                    <span asp-validation-for="Username"></span>
                </div>
            }
            else
            {
                <div class="layui-form-item layui-input-icon-group">
                    <i class="layui-icon layui-icon-email"></i>
                    <input asp-for="Email" class="email layui-input" placeholder="请输入登录邮箱" autocomplete="off" autofocus="autofocus" lay-verType="tips" lay-verify="required" required />
                    <span asp-validation-for="Email"></span>
                </div>
            }
            <div class="layui-form-item layui-input-icon-group">
                <i class="layui-icon layui-icon-password"></i>
                <input asp-for="Password" class="password layui-input"  placeholder="请输入登录密码" lay-verType="tips" lay-verify="required" required />
                <span asp-validation-for="Password"></span>
            </div>
            @*<div class="layui-form-item layui-input-icon-group login-captcha-group">
                <i class="layui-icon layui-icon-auz"></i>
                <input class="layui-input" name="verifyCode" placeholder="请输入验证码" autocomplete="off"
                       lay-verType="tips" lay-verify="required" required />
                <img class="login-captcha" src="/captcha.html" onclick="this.src='/captcha.html?'+Math.random();" alt="" />
            </div>
            *@
        <div class="layui-form-item">
            <input asp-for="RememberMe" style="display:inline-block;" title="记住密码" lay-skin="primary" />
            <label asp-for="RememberMe">记住密码</label>
            @*<a asp-route="PasswordRecovery" class="layui-link pull-right">找回密码</a>&nbsp;&nbsp;
            <a href="javascript:;" class="layui-link pull-right" style="margin-right:5px;">注册账号</a>
            *@
        </div>
        <div class="layui-form-item">
            <input class="layui-btn layui-btn-fluid login-button" type="submit" value="登录" />
        </div>
            <div class="layui-form-item login-oauth-group text-center">
        <a href="javascript:;"><i class="layui-icon layui-icon-login-qq" style="color:#3492ed;"></i></a>&emsp;
        <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat" style="color:#4daf29;"></i></a>&emsp;
        <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo" style="color:#CF1900;"></i></a>
    </div>
        </form>
    </div>
    <div class="login-copyright">©2020 MYDOMAIN.COM 版权所有</div>
    <style>
    body {
        background-image: url("/lib/layui/images/login/login-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        overflow:hidden;
    }

    body:before {
        content: "";
        background-color: rgba(0, 0, 0, .2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .login-wrapper {
        max-width: 420px;
        padding: 20px;
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        z-index: 2;
        margin-top:30px;
    }

    .login-wrapper > .layui-form {
        padding: 25px 30px;
        background-color: #fff;
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.19);
        box-sizing: border-box;
        border-radius: 4px;
    }

    .login-wrapper > .layui-form > h2 {
        color: #333;
        font-size: 18px;
        text-align: center;
        margin-bottom: 25px;
    }

    .login-wrapper > .layui-form > .layui-form-item {
        margin-bottom: 25px;
        position: relative;
    }

    .login-wrapper > .layui-form > .layui-form-item:last-child {
        margin-bottom: 0;
    }

    .login-wrapper > .layui-form > .layui-form-item > .layui-input {
        height: 46px;
        line-height: 46px;
        border-radius: 2px !important;
    }

    .login-wrapper .layui-input-icon-group > .layui-input {
        padding-left: 46px;
    }

    .login-wrapper .layui-input-icon-group > .layui-icon {
        width: 46px;
        height: 46px;
        line-height: 46px;
        font-size: 20px;
        color: #909399;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
    }

    .login-wrapper > .layui-form > .layui-form-item.login-captcha-group {
        padding-right: 135px;
    }

    .login-wrapper > .layui-form > .layui-form-item.login-captcha-group > .login-captcha {
        height: 46px;
        width: 120px;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid #e6e6e6;
        border-radius: 2px !important;
        position: absolute;
        right: 0;
        top: 0;
    }

    .login-wrapper > .layui-form > .layui-form-item > .layui-form-checkbox {
        margin: 0 !important;
        padding-left: 25px;
    }

    .login-wrapper > .layui-form > .layui-form-item > .layui-form-checkbox > .layui-icon {
        width: 15px !important;
        height: 15px !important;
    }

    .login-wrapper > .layui-form .layui-btn-fluid {
        height: 48px;
        line-height: 48px;
        font-size: 16px;
        border-radius: 2px !important;
    }

    .login-wrapper > .layui-form > .layui-form-item.login-oauth-group > a > .layui-icon {
        font-size: 26px;
    }

    .login-copyright {
        color: #eee;
        padding-bottom: 20px;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .layui-btn {
        background-color: #5FB878;
        border-color: #5FB878;
    }

    .layui-link {
        color: #5FB878 !important;
    }
    </style>


</body>
</html>